<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= name %></title>
</head>
<body>
	<h1><%= name %></h1>
	<h2><%= style %></h2>
	<h3><%= brewery %></h3>
	<p><%= abv %></p>
</body>
</html>